body {
    background-color: rgb(219, 231, 229);
    font-family: Helvetica Now Text;
    color: yellow;
}

h1 {
    text-align: center;
    color: rgb(0, 153, 255);
    font-size:120px;
}

p {
    font-size: 25px;
    text-align: center;
    color: rgb(2, 34, 31);
}

.meineKlasse {
    font-size: 26px;
    color:rgb(122, 57, 85);
    text-align: left;
}

img {
    width: 300px;
}

.video {
    width: 220px;
    height: 220px
    text-align center;
}
.meineKlasse2  {
font-size: 25px; 
color: rgb(7, 50, 7);
text-align: right;
}

.containerSepezial {
    display: flex;
}


